<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categories</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.css">
    <link rel="stylesheet" href="../../static/css/style.css" th:href="@{/css/style.css}">
</head>

<body>

<!--navigator-->
<nav th:replace="admin/_fragments :: menu(1)" class="ui inverted attached segment m-padded-tb-mini m-shadow">
    <div class="ui container">
        <div class="ui inverted secondary stackable menu">
            <h2 class="ui teal header item">Console</h2>
            <a href="#" th:href="@{/admin/blog/list}" class="m-item item m-mobile-hide"><i class="home icon"></i>Dashboard</a>
            <a href="#" th:href="@{/admin/categories}" class="m-item item m-mobile-hide"><i class="idea icon"></i>Categories</a>
            <a href="#" th:href="@{/admin/tags}" class="m-item item m-mobile-hide"><i class="tags icon"></i>Tags</a>
            <div class="right m-item m-mobile-hide menu">
                <div class="ui dropdown item">
                    <img src="https://unsplash.it/100/100?image=1005" alt="" class="ui avatar image">
                    Jared Wang
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <a href="" class="item">注销</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="ui menu toggle black icon button m-top-right m-mobile-show">
        <i class="sidebar icon"></i>
    </a>
</nav>

<div class="ui right attached pointing menu">
    <div class="ui container">
        <div class="right menu">
            <a href="./post" th:href="@{/admin/blog/post}" class="item">New Post</a>
            <a href="./list" th:href="@{/admin/blog/list}" class="item">History</a>
        </div>
    </div>
</div>

<!--body-->
<div class=".m-container m-padded-tb-big">
    <div class="ui container">
        <div class="ui success message" th:unless="${#strings.isEmpty(message)}">
            <i class="close icon"></i>
            <div class="header">Feedback:</div>
            <p th:text="${message}">Operation success!</p>
        </div>
        <div class="ui error message"  th:unless="${#strings.isEmpty(errorMessage)}">
            <i class="close icon"></i>
            <div class="header">Feedback:</div>
            <p th:text="${errorMessage}">Please delete the related blogs first.</p>
        </div>
        <table class="ui celled table">
            <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Operation</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="type,iterStat : ${page.content}">
                <td th:text="${iterStat.count}"></td>
                <td th:text="${type.name}"></td>
                <td>
                    <a href="#" th:href="@{/admin/categories/input/{id}(id=${type.typeId})}" class="ui small teal basic button">edit</a>
                    <a href="#" th:href="@{/admin/categories/delete/{id}(id=${type.typeId})}" class="ui small red basic button">delete</a>
                </td>
            </tr>
            </tbody>

            <tfoot>
            <tr>
                <th colspan="3">
                    <a href="#" th:href="@{/admin/categories/input}" class="ui teal basic button">Add</a>
                    <div class="ui small right floated pagination menu" th:if="${page.totalPages}>1">
                        <a th:href="@{/admin/categories(page=${page.number}-1)}" class="icon item" th:unless="${page.first}">
                            <i class="left chevron icon"></i>
                        </a>


                        <a th:href="@{/admin/categories(page=${page.number}+1)}" class="icon item" th:unless="${page.last}">
                            <i class="right chevron icon"></i>
                        </a>
                    </div>
                </th>
            </tr>

            </tfoot>
        </table>
    </div>
</div>

<br>
<br>
<br>
<br>
<br>

<!--footer-->
<footer th:replace="_fragments :: footer" class="ui inverted vertical segment m-padded-tb-massive">
    <div class="ui center aligned container">
        <div class="ui inverted divided stackable grid">
            <div class="three wide column">
                <div class="ui inverted link list">
                    <div class="item">
                        <img src="../../static/images/my_wechat.jpg" class="ui rounded image" alt="My WeChat"
                             style="width: 110px;">
                    </div>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header m-thin-text m-text-space">
                    Latest Blog
                </h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">User Story</a>
                    <a href="#" class="item">User Story</a>
                    <a href="#" class="item">User Story</a>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header m-thin-text m-text-space">
                    Contact Info
                </h4>
                <div class="ui inverted link list">
                    <i class="item bordered linkedin icon">&nbsp;LinkedIn:&nbsp;</i>
                    <a href="#" class="item">
                        linkedin.com/in/jared-wang-b88474270
                    </a>
                    <i class="item bordered envelope icon">&nbsp;Email:&nbsp;</i>
                    <a href="#" class="item">
                        jwan308@aucklanduni.ac.nz
                    </a>
                </div>
            </div>
            <div class="seven wide column">
                <h4 class="ui inverted header m-thin-text m-text-space">
                    Me
                </h4>
                <p class="m-thin-text m-text-space m-text-line-height m-opacity">This is my blog</p>
            </div>
        </div>
        <div class="ui inverted section divider">
            <p class="m-thin-text m-text-space m-text-line-height m-opacity">
                Copyright © 2023 Jared Wang. All rights reserved.
            </p>
        </div>
    </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.js"></script>

<script>
    $('.message .close').on('click', function () {
            $(this).closest('.message')
                .transition('fade');
        }
    );

    $('.menu.toggle').click(function () {
            $('.m-item').toggleClass('m-mobile-hide');
        }
    );

    $('.ui.dropdown').dropdown({
            on: 'hover'
        }
    );
    $('#latestBlog-container').load(/*[[@{/footer/story}]]*/"/footer/story")
</script>
</body>

</html>