<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.css">
    <link rel="stylesheet" href="../../static/css/style.css" th:href="@{/css/style.css}">
    <link rel="icon" href="../../static/images/earth-in-a-glass-jar-svgrepo-com.svg"
          th:href="@{/images/computer-html-svgrepo-com.svg}" type="image/x-icon">
</head>

<body>

<!--navigator-->
<nav th:replace="admin/_fragments :: menu(0)" class="ui inverted attached segment m-padded-tb-mini m-shadow">
    <div class="ui container">
        <div class="ui inverted secondary stackable menu">
            <h2 class="ui teal header item">Console</h2>
            <a href="#" th:href="@{/admin/blog/list}" class="m-item item m-mobile-hide"><i
                    class="home icon"></i>Dashboard</a>
            <a href="#" th:href="@{/admin/categories}" class="m-item item m-mobile-hide"><i class="idea icon"></i>Categories</a>
            <a href="#" th:href="@{/admin/tags}" class="m-item item m-mobile-hide"><i class="tags icon"></i>Tags</a>
            <div class="right m-item m-mobile-hide menu">
                <div class="ui dropdown item">
                    <img src="https://unsplash.it/100/100?image=1005" alt="" class="ui avatar image">
                    Jared Wang
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <a href="" class="item">注销</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="ui menu toggle black icon button m-top-right m-mobile-show">
        <i class="sidebar icon"></i>
    </a>
</nav>

<div class="ui right attached pointing menu">
    <div class="ui container">
        <div class="right menu">
            <a href="#" th:href="@{post}" class="item">New Post</a>
            <a href="#" th:href="@{list}" class="teal active item">History</a>
        </div>
    </div>
</div>

<!--body-->
<div class=".m-container m-padded-tb-massive">
    <div class="ui container">
        <div class="ui large segment form">
            <div class="inline fields">
                <div class="field">
                    <input type="text" name="title" placeholder="title">
                </div>

                <div class="field">
                    <div class="ui labeled action input">
                        <div class="ui category selection dropdown">
                            <input type="hidden" name="typeId">

                            <i class="dropdown icon"></i>

                            <div class="default text">category</div>
                            <div class="menu">
                                <div th:each="type : ${types}" class="item"
                                     th:data-value="${type.typeId}" th:text="${type.name}"></div>
                            </div>

                        </div>
                        <button id="clear-btn" class="ui compact button">clear</button>
                    </div>
                </div>
                <div class="inline field">
                    <div class="ui toggle checkbox">
                        <input type="checkbox" id="isRecommend" name="isRecommend">
                        <label for="isRecommend" class="m-slight-opacity">
                            Recommend
                        </label>
                    </div>
                </div>
                <div class="ui container">
                    <div class="field">
                        <button type="button" id="search-btn" class="ui right floated teal basic button"><i
                                class="search icon"></i>Search
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <input type="hidden" name="page">
        <div id="table-container">
            <table th:fragment="blogList" class="ui celled table">
                <thead>
                <tr>
                    <th></th>
                    <th>Title</th>
                    <th>Category</th>
                    <th>Recommend</th>
                    <th>Update Time</th>
                    <th>Draft</th>
                    <th>Operation</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="blog, iterStat : ${page.content}">
                    <td th:text="${iterStat.count}"></td>
                    <td th:text="${blog.title}"></td>
                    <td th:text="${blog.type.name}"></td>
                    <td th:text="${blog.recommendSwitch} ? 'Yes':'No'"></td>
                    <td th:text="${blog.updateTime}"></td>
                    <td th:text="${blog.publish} ? 'No':'Yes'"></td>
                    <td>
                        <a href="#" th:href="@{/admin/blog/post/{id}(id=${blog.blogId})}"
                           class="ui small teal basic button">edit</a>
                        <a href="#" th:href="@{/admin/blog/delete/{id}(id=${blog.blogId})}"
                           class="ui small red basic button"
                           onClick="return confirm('Do you want to delete?');">delete</a>
                    </td>
                </tr>
                </tbody>

                <tfoot>
                <tr>
                    <th colspan="7">
                        <a href="#" th:href="@{/admin/blog/post}" class="ui teal basic button">Add</a>
                        <div class="ui small right floated pagination menu" th:if="${page.totalPages}>1">
                            <a onclick="page(this)" th:attr="data-page=${page.number}-1" class="icon item"
                               th:unless="${page.first}">
                                <i class="left chevron icon"></i>
                            </a>


                            <a onclick="page(this)" th:attr="data-page=${page.number}+1" class="icon item"
                               th:unless="${page.last}">
                                <i class="right chevron icon"></i>
                            </a>
                        </div>
                    </th>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>

<!--footer-->
<footer th:replace="_fragments :: footer" class="ui inverted vertical segment m-padded-tb-massive">
    <div class="ui center aligned container">
        <div class="ui inverted divided stackable grid">
            <div class="three wide column">
                <div class="ui inverted link list">
                    <div class="item">
                        <img src="../../static/images/my_wechat.jpg" class="ui rounded image" alt="My WeChat"
                             style="width: 110px;">
                    </div>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header m-thin-text m-text-space">
                    Latest Blog
                </h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">User Story</a>
                    <a href="#" class="item">User Story</a>
                    <a href="#" class="item">User Story</a>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header m-thin-text m-text-space">
                    Contact Info
                </h4>
                <div class="ui inverted link list">
                    <i class="item bordered linkedin icon">&nbsp;LinkedIn:&nbsp;</i>
                    <a href="#" class="item">
                        linkedin.com/in/jared-wang-b88474270
                    </a>
                    <i class="item bordered envelope icon">&nbsp;Email:&nbsp;</i>
                    <a href="#" class="item">
                        jwan308@aucklanduni.ac.nz
                    </a>
                </div>
            </div>
            <div class="seven wide column">
                <h4 class="ui inverted header m-thin-text m-text-space">
                    Me
                </h4>
                <p class="m-thin-text m-text-space m-text-line-height m-opacity">This is my blog</p>
            </div>
        </div>
        <div class="ui inverted section divider">
            <p class="m-thin-text m-text-space m-text-line-height m-opacity">
                Copyright © 2023 Jared Wang. All rights reserved.
            </p>
        </div>
    </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.js"></script>

<script>
    $('.menu.toggle').click(function () {
            $('.m-item').toggleClass('m-mobile-hide');
        }
    );

    $('.ui.dropdown').dropdown({
            on: 'hover'
        }
    );

    $('#clear-btn').on('click', function () {
        $('.ui.category.dropdown').dropdown('clear');
    });

    function page(obj) {
        $("[name='page']").val($(obj).data("page"));
        loadData();
    }

    $(document).ready(function () {
        // 监听复选框状态变化事件
        $('#isRecommend, #search-btn').on('change click', function () {
            performSearch();
        });

        // 模拟搜索功能的函数
        function performSearch() {
            $("[name='page']").val(0);
            loadData();
        }
    });

    function loadData() {
        $("#table-container").load(/*[[@{/admin/blog/list/search}]]*/"/admin/blog/list/search", {
            title: $("[name='title']").val(),
            typeId: $("[name='typeId']").val(),
            recommend: $("[name='isRecommend']").prop("checked"),
            page: $("[name='page']").val()
        });
    }

    $('#latestBlog-container').load(/*[[@{/footer/story}]]*/"/footer/story")

</script>
</body>

</html>